* {
    margin: 0;
    padding: 0;

}
nav{
    background-color: beige;
    border: 1px solid blue;
    color: orange;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    align-items: center;
}
ul.menu{
    display: flex;
    color: chocolate;

}
ul.menu a{
    text-decoration: none;
}
.sec01{
    border: 1px solid salmon
}
.sec01 h1{
    border:blue
}
.sec01 h3{
    font-family: 'Courier New', Courier, monospace;
    color: red;
}
.atc01{
    border: 2px dotted greenyellow;
    font-size: 2rem;
    color: blueviolet;
    background-image: url();
}
.sec02{
    border: 2px solid seagreen;
}
.sec02{
    border: burlywood;
}
.aside01{
    border: 3px solid blue;
    float: right;
    background-color: beige;
}
.ft01{
    margin: 10rem;
}